name: Docker jnlp

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  push:
    branches: [ master ]
    # Publish semver tags as releases.
    tags: [ 'v*.*.*' ]
    paths: 
    - 'jenkins-inbound-agent/**'
    - '.github/workflows/**'
  pull_request:
    branches: [ master ]
    paths: 
    - 'jenkins-inbound-agent/**'
    - '.github/workflows/**'

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # IMAGE_PATH: jenkins-jnlp-slave
  # github.repository as <account>/<repo>
  # IMAGE_NAME: ${{ github.repository }}/jenkins-jnlp-slave


jobs:
  build:
    strategy:
      matrix:
        image: [jenkins-inbound-agent]

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      # This is used to complete the identity challenge
      # with sigstore/fulcio when running outside of PRs.
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      # Install the cosign tool except on PR
      # https://github.com/sigstore/cosign-installer
      - name: Install cosign
        if: github.event_name != 'pull_request'
        uses: sigstore/cosign-installer@v2
        with:
          cosign-release: 'v1.13.1'

      - name: Set up containerd
        uses: crazy-max/ghaction-setup-containerd@v2

      - name: install soci
        uses: lerentis/soci-installer@v1.0.0
        with:
          soci-release: 'v0.3.0'
          install-dir: /usr/bin/

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      # Workaround: https://github.com/docker/build-push-action/issues/461
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v2

      # Login against a Docker registry except on PR
      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2.0.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v4.0.1
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository }}/${{ matrix.image }}
          tags: |
            type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
            type=ref,event=tag
            type=ref,event=branch
            type=ref,event=pr
      # Build and push Docker image with Buildx (don't push on PR)
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v3.1.0
        with:
          context: .
          file: ${{ matrix.image }}/Dockerfile
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          outputs: type=oci,dest=/tmp/image.tar

      - name: Import image in containerd
        if: ${{ github.event_name != 'pull_request' }}
        run: |
          sudo ctr i import --base-name  ${{ env.REGISTRY }}/${{ github.repository }}/${{ matrix.image }} --digests --all-platforms /tmp/image.tar

      - name: Push image with containerd
        if: ${{ github.event_name != 'pull_request' }}
        run: |
          sudo ctr i push --user "${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}" ${{ env.REGISTRY }}/${{ github.repository }}/${{ matrix.image }}:${{ github.event.repository.default_branch }}
          sudo ctr i push --user "${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}"  ${{ env.REGISTRY }}/${{ github.repository }}/${{ matrix.image }}:latest

      - name: Push release image with containerd
        if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
        run: |
          sudo ctr i push --user "${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}" ${{ env.REGISTRY }}/${{ github.repository }}/${{ matrix.image }}:{{ github.event.ref }}

      - name: Create and push soci index
        if: ${{ github.event_name != 'pull_request' }}
        run: |
          sudo soci create ${{ env.REGISTRY }}/${{ github.repository }}/${{ matrix.image }}:${{ github.event.repository.default_branch }}
          sudo soci create ${{ env.REGISTRY }}/${{ github.repository }}/${{ matrix.image }}:latest
          sudo soci --user "${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}" push ${{ env.REGISTRY }}/${{ github.repository }}/${{ matrix.image }}:${{ github.event.repository.default_branch }}
          sudo soci --user "${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}" push ${{ env.REGISTRY }}/${{ github.repository }}/${{ matrix.image }}:latest

      - name: Create and push soci index for new releases
        if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
        run: |
          sudo soci create ${{ env.REGISTRY }}/${{ github.repository }}/${{ matrix.image }}:${{ github.event.ref }}
          sudo soci --user "${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}" push ${{ env.REGISTRY }}/${{ github.repository }}/${{ matrix.image }}:{{ github.event.ref }}

      # Sign the resulting Docker image digest except on PRs.
      # This will only write to the public Rekor transparency log when the Docker
      # repository is public to avoid leaking data.  If you would like to publish
      # transparency data even for private images, pass --force to cosign below.
      # https://github.com/sigstore/cosign
      - name: Sign the published Docker image
        if: ${{ github.event_name != 'pull_request' }}
        env:
          COSIGN_EXPERIMENTAL: "true"
        # This step uses the identity token to provision an ephemeral certificate
        # against the sigstore community Fulcio instance.
        run: cosign sign ${{ env.REGISTRY }}/${{ github.repository }}/${{ matrix.image }}@${{ steps.build-and-push.outputs.digest }}
